<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>538437292433-mppoev4qholeo8bs3f9m1ccrl0o4guv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538437292433-mppoev4qholeo8bs3f9m1ccrl0o4guv6</string>
	<key>API_KEY</key>
	<string>AIzaSyDvRlePh2FsLQmtHBSprQ-rx2zRurh_Rug</string>
	<key>GCM_SENDER_ID</key>
	<string>538437292433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ivanoff.K.Hokah</string>
	<key>PROJECT_ID</key>
	<string>hookah-f2b96</string>
	<key>STORAGE_BUCKET</key>
	<string>hookah-f2b96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538437292433:ios:a1db174690c96d97</string>
	<key>DATABASE_URL</key>
	<string>https://hookah-f2b96.firebaseio.com</string>
</dict>
</plist>